extends layout

block content
    bbox
        img.index(src="images/prodigal_son.jpg")
        h1 Welcome to the Reading Room
        p
            blockquote #[i Lighten our darkness, we beseech thee, O Lord...]
        p Welcome to the #[strong Reading Room], an electronic space intended to preserve the incorporeal treasures of both Christian and English heritage through these difficult times.

        h2 Interesting Pages
        p There are so many ways you could begin your journey...
        ul
            li #[a(href="/territories/kingdom") A description of the Kingdom of Cyprus];
            li #[a(href="/academy") Royal Cyprian Academy].
