extends layout

block content
    profilebox.kingdom
        h2 Kingdom of Cyprus
        figure
            img.kingdom-box(src="/images/badge_royal.svg", alt="Badge of the Kingdom", align="center", height=140)
            img.kingdom-box(src="/images/flag_royal.svg", alt="Flag of the Kingdom", align="center", height=150)
            figcaption Badge and flag of the Kingdom
        table.pbox
            tr
                td Motto
                td Βασιλεὺς Βασιλέων Βασιλεύων Βασιλεύουσιν
            tr
                td Anthem
                td Te Deum
            tr
                td Official languages
                td English, Koine Greek
            tr
                td Religion
                td Christianity
            tr
                td Demonym
                td Cyprian
            tr
                td Government <br/> &bull; #[a(href="/people/rex") King] <br/> &bull; Regent
                td Absolute monarchy <br/> &bull; #[i Vacant] <br/> &bull; 
                    if regent
                        +personLink(regent)
                    else
                        | #[i Vacant]
            tr
                td Currency
                td Pounds sterling
            tr
                td Time zone
                td UTC
        figure
            img.kingdom-box(src="/images/arms_royal.svg", alt="Arms of the Kingdom", align="center", width=350)
            figcaption Arms of the kingdom

    h1 #{title}

    p The #[b Kingdom of Cyprus] is an organisation which aspires to be a sovereign subject of international law &mdash; that is, a state which claims no physical territory &mdash; and the purpose of which is the preservation of incorporeal Christian and English heritage.

    h2 Duchies
    p The kingdom is organised along feudal lines, drawing inspiration chiefly from the English system of peerages and manorialism. Accordingly, the kingdom is divided into duchies, which are themselves further divided into counties, baronies and manors.
    ul
        for duchy in duchies
            li #[a(href="/territories/duchies/"+duchy.code) #{duchy.name}]

    h2 Government and Law
    p The kingdom is an absolute monarchy: all legitimate authority flows from the Cyprian crown. The King exercises executive power through His Majesty's Government, and legislative power through promulgating letters patent. A register of such patents can be found #[a(href="/patents") here].

    h2 Culture
    p Inasmuch as it is proper for His Majesty's Government to regulate culture and learning, this function is carried out by the #[a(href="/academy") Royal Cyprian Academy].
