include ./partials/mixins

doctype html
html
    head
        title Reading Room | #{title}
        link(rel="stylesheet", href="/stylesheets/style.css")
    body
        div.header
        bbox
            block content
        footer
            br
            p Accessed: !{footstamp} | #[a(href="/") Home]
